In [1]:
import numpy as np
import pandas as pd
from sqlalchemy import create_engine, text
from sqlalchemy import Table, Column, Integer, String, Float, Date, MetaData
import os
from dotenv import load_dotenv

In [2]:
# Carregar variáveis do arquivo .env
load_dotenv()

# Obter as credenciais do banco de dados do .env
db_host = os.getenv("DB_HOST")
db_port = os.getenv("DB_PORT")
db_name = os.getenv("DB_NAME")
db_user = os.getenv("DB_USER")
db_password = os.getenv("DB_PASSWORD")
excel_path = os.getenv("EXCEL_FILE_PATH")

## Recebimento

In [3]:
# Carregar os dados da aba específica do arquivo Excel
df = pd.read_excel(excel_path, sheet_name='recebimento')

# Exibir o número de linhas e colunas
print('Número de linhas e colunas:')
print(df.shape)

print('\n-------------------------------------')

# Exibir os tipos de dados ajustados
print(df.dtypes)

print('\n-------------------------------------')

# Exibir as primeiras linhas dos dados
print('\nVisualização inicial dos dados:')
print(df.head())

Número de linhas e colunas:
(498, 5)

-------------------------------------
DATA              datetime64[ns]
CATEGORIA                 object
CLIENTE                   object
ITEM_PCG                  object
TOTAL_RECEBIDO           float64
dtype: object

-------------------------------------

Visualização inicial dos dados:
        DATA     CATEGORIA              CLIENTE             ITEM_PCG  \
0 2024-01-02  TELEMEDICINA  PagSmart Pagamentos  TELEMEDICINA VAREJO
1 2024-01-02        SEGURO       SimPro Seguros   SEGURO CONDOMINIAL
2 2024-01-02        SEGURO             TProtege   SEGURO CONDOMINIAL
3 2024-01-03  TELEMEDICINA  PagSmart Pagamentos  TELEMEDICINA VAREJO
4 2024-01-04        SEGURO  ProtegeMais Seguros   SEGURO RESIDENCIAL

   TOTAL_RECEBIDO
0          473.42
1           95.24
2            4.86
3          243.89
4           35.70

In [4]:
# Inserir dados no banco de dados PostgreSQL

# Definir a string de conexão com o banco de dados PostgreSQL
postgres_str = f'postgresql://{db_user}:{db_password}@{db_host}:{db_port}/{db_name}'
        
# Configuração da conexão com o banco de dados
engine = create_engine(postgres_str)

# Criação do schema dre_ecbahia
with engine.connect() as connection:
    connection.execute(text("CREATE SCHEMA IF NOT EXISTS financeiro;"))
    
# from sqlalchemy import Table, Column, Integer, String, Float, MetaData
    
metadata = MetaData(schema='financeiro')

# Definição da tabela recebimento
recebimento = Table('recebimento', metadata,
                         Column('DATA', Date),
                         Column('CATEGORIA', String),
                         Column('CLIENTE', String),
                         Column('ITEM_PCG', String),
                         Column('TOTAL_RECEBIDO', Float),
                         )

# Criação da tabela no banco de dados
metadata.create_all(engine)

# Inserção dos dados na tabela f_razao_contabil
df.to_sql('recebimento', engine, schema='financeiro', if_exists='replace', index=False)

# Consulta para verificar os dados inseridos
with engine.connect() as connection:
    result = connection.execute(text("SELECT * FROM financeiro.recebimento LIMIT 5;"))
    for row in result:
        print(row)

(datetime.datetime(2024, 1, 2, 0, 0), 'TELEMEDICINA', 'PagSmart Pagamentos', 'TELEMEDICINA VAREJO', 473.42)
(datetime.datetime(2024, 1, 2, 0, 0), 'SEGURO', 'SimPro Seguros', 'SEGURO CONDOMINIAL', 95.24)
(datetime.datetime(2024, 1, 2, 0, 0), 'SEGURO', 'TProtege', 'SEGURO CONDOMINIAL', 4.86)
(datetime.datetime(2024, 1, 3, 0, 0), 'TELEMEDICINA', 'PagSmart Pagamentos', 'TELEMEDICINA VAREJO', 243.89)
(datetime.datetime(2024, 1, 4, 0, 0), 'SEGURO', 'ProtegeMais Seguros', 'SEGURO RESIDENCIAL', 35.7)

## Despesas

In [5]:
# Carregar os dados da aba específica do arquivo Excel
df = pd.read_excel(excel_path, sheet_name='despesas')

# Exibir o número de linhas e colunas
print('Número de linhas e colunas:')
print(df.shape)

print('\n-------------------------------------')

# Exibir os tipos de dados ajustados
print(df.dtypes)

print('\n-------------------------------------')

# Exibir as primeiras linhas dos dados
print('\nVisualização inicial dos dados:')
print(df.head())

Número de linhas e colunas:
(298, 6)

-------------------------------------
DATA                datetime64[ns]
ANO                          int64
ITEM_PAI                    object
ITEM_PCG                    object
CENTRO_RESULTADO            object
TOTAL                      float64
dtype: object

-------------------------------------

Visualização inicial dos dados:
        DATA   ANO                 ITEM_PAI                 ITEM_PCG  \
0 2024-07-18  2024  MATERIAL ADMINISTRATIVO  MATERIAL DE INFORMÁTICA
1 2024-07-16  2024       PESSOAL - ENCARGOS             TAXA ESTÁGIO
2 2024-07-16  2024      DESPESAS COMERCIAIS  FERRAMENTAS MKT DIGITAL
3 2024-07-15  2024    DESPESAS OPERACIONAIS   OP - PRESTAÇÃO SERVIÇO
4 2024-07-15  2024    DESPESAS OPERACIONAIS   TRANSPORTE OPERACIONAL

    CENTRO_RESULTADO    TOTAL
0       VENDA VAREJO   174.71
1             GESTÃO   141.02
2  VENDA CORPORATIVA  6500.00
3  VENDA CORPORATIVA    39.00
4             GESTÃO  1303.56

In [6]:
# Inserir dados no banco de dados PostgreSQL

# Definir a string de conexão com o banco de dados PostgreSQL
postgres_str = f'postgresql://{db_user}:{db_password}@{db_host}:{db_port}/{db_name}'
        
# Configuração da conexão com o banco de dados
engine = create_engine(postgres_str)

# Criação do schema dre_ecbahia
with engine.connect() as connection:
    connection.execute(text("CREATE SCHEMA IF NOT EXISTS financeiro;"))
    
# from sqlalchemy import Table, Column, Integer, String, Float, MetaData
    
metadata = MetaData(schema='financeiro')

# Definição da tabela despesas
despesas = Table('despesas', metadata,
                         Column('DATA', Date),
                         Column('ANO', Integer),
                         Column('ITEM_PAI', String),
                         Column('ITEM_PCG', String),
                         Column('CENTRO_RESULTADO', String),
                         Column('TOTAL', Float),
                         )

# Criação da tabela no banco de dados
metadata.create_all(engine)

# Inserção dos dados na tabela f_razao_contabil
df.to_sql('despesas', engine, schema='financeiro', if_exists='replace', index=False)

# Consulta para verificar os dados inseridos
with engine.connect() as connection:
    result = connection.execute(text("SELECT * FROM financeiro.despesas LIMIT 5;"))
    for row in result:
        print(row)

(datetime.datetime(2024, 7, 18, 0, 0), 2024, 'MATERIAL ADMINISTRATIVO', 'MATERIAL DE INFORMÁTICA', 'VENDA VAREJO', 174.71)
(datetime.datetime(2024, 7, 16, 0, 0), 2024, 'PESSOAL - ENCARGOS', 'TAXA ESTÁGIO', 'GESTÃO', 141.02)
(datetime.datetime(2024, 7, 16, 0, 0), 2024, 'DESPESAS COMERCIAIS', 'FERRAMENTAS MKT DIGITAL', 'VENDA CORPORATIVA', 6500.0)
(datetime.datetime(2024, 7, 15, 0, 0), 2024, 'DESPESAS OPERACIONAIS', 'OP - PRESTAÇÃO SERVIÇO', 'VENDA CORPORATIVA', 39.0)
(datetime.datetime(2024, 7, 15, 0, 0), 2024, 'DESPESAS OPERACIONAIS', 'TRANSPORTE OPERACIONAL', 'GESTÃO', 1303.56)

## Metas de Recebimento

In [7]:
# Carregar os dados da aba específica do arquivo Excel
df = pd.read_excel(excel_path, sheet_name='meta_recebimento')

# Exibir o número de linhas e colunas
print('Número de linhas e colunas:')
print(df.shape)

print('\n-------------------------------------')

# Exibir os tipos de dados ajustados
print(df.dtypes)

print('\n-------------------------------------')

# Exibir as primeiras linhas dos dados
print('\nVisualização inicial dos dados:')
print(df.head())

Número de linhas e colunas:
(12, 4)

-------------------------------------
data                datetime64[ns]
mes                          int64
Total_Recebido             float64
Meta_Recebimento           float64
dtype: object

-------------------------------------

Visualização inicial dos dados:
        data  mes  Total_Recebido  Meta_Recebimento
0 2024-12-01   12            0.00           91096.0
1 2024-11-01   11            0.00           87527.0
2 2024-10-01   10        47521.15           86594.0
3 2024-09-01    9        39615.60           85695.0
4 2024-08-01    8        38803.75           82745.0

In [8]:
# Inserir dados no banco de dados PostgreSQL

# Definir a string de conexão com o banco de dados PostgreSQL
postgres_str = f'postgresql://{db_user}:{db_password}@{db_host}:{db_port}/{db_name}'
        
# Configuração da conexão com o banco de dados
engine = create_engine(postgres_str)

# Criação do schema dre_ecbahia
with engine.connect() as connection:
    connection.execute(text("CREATE SCHEMA IF NOT EXISTS financeiro;"))
    
# from sqlalchemy import Table, Column, Integer, String, Float, MetaData
    
metadata = MetaData(schema='financeiro')

# Definição da tabela meta_recebimento
meta_recebimento = Table('meta_recebimento', metadata,
                         Column('data', Date),
                         Column('mes', Integer),
                         Column('Total_Recebido', Float),
                         Column('Meta_Recebimento', Float),
                         )

# Criação da tabela no banco de dados
metadata.create_all(engine)

# Inserção dos dados na tabela f_razao_contabil
df.to_sql('meta_recebimento', engine, schema='financeiro', if_exists='replace', index=False)

# Consulta para verificar os dados inseridos
with engine.connect() as connection:
    result = connection.execute(text("SELECT * FROM financeiro.meta_recebimento LIMIT 5;"))
    for row in result:
        print(row)

(datetime.datetime(2024, 12, 1, 0, 0), 12, 0.0, 91096.0)
(datetime.datetime(2024, 11, 1, 0, 0), 11, 0.0, 87527.0)
(datetime.datetime(2024, 10, 1, 0, 0), 10, 47521.15, 86594.0)
(datetime.datetime(2024, 9, 1, 0, 0), 9, 39615.6, 85695.0)
(datetime.datetime(2024, 8, 1, 0, 0), 8, 38803.75, 82745.0)

## Meta de Despesas

In [9]:
# Carregar os dados da aba específica do arquivo Excel
df = pd.read_excel(excel_path, sheet_name='meta_despesas')

# Exibir o número de linhas e colunas
print('Número de linhas e colunas:')
print(df.shape)

print('\n-------------------------------------')

# Exibir os tipos de dados ajustados
print(df.dtypes)

print('\n-------------------------------------')

# Exibir as primeiras linhas dos dados
print('\nVisualização inicial dos dados:')
print(df.head())

Número de linhas e colunas:
(12, 4)

-------------------------------------
Data             datetime64[ns]
Mes                       int64
Despesas                float64
Meta_Despesas           float64
dtype: object

-------------------------------------

Visualização inicial dos dados:
        Data  Mes  Despesas  Meta_Despesas
0 2024-12-01   12       0.0      68976.000
1 2024-11-01   11       0.0      68610.000
2 2024-10-01   10       0.0      61101.000
3 2024-09-01    9       0.0      60743.000
4 2024-08-01    8       0.0      55831.888

In [10]:
# Inserir dados no banco de dados PostgreSQL

# Definir a string de conexão com o banco de dados PostgreSQL
postgres_str = f'postgresql://{db_user}:{db_password}@{db_host}:{db_port}/{db_name}'
        
# Configuração da conexão com o banco de dados
engine = create_engine(postgres_str)

# Criação do schema dre_ecbahia
with engine.connect() as connection:
    connection.execute(text("CREATE SCHEMA IF NOT EXISTS financeiro;"))
    
# from sqlalchemy import Table, Column, Integer, String, Float, MetaData
    
metadata = MetaData(schema='financeiro')

# Definição da tabela meta_recebimento
meta_recebimento = Table('meta_despesas', metadata,
                         Column('Data', Date),
                         Column('Mes', Integer),
                         Column('Despesas', Float),
                         Column('Meta_Despesas', Float),
                         )

# Criação da tabela no banco de dados
metadata.create_all(engine)

# Inserção dos dados na tabela f_razao_contabil
df.to_sql('meta_despesas', engine, schema='financeiro', if_exists='replace', index=False)

# Consulta para verificar os dados inseridos
with engine.connect() as connection:
    result = connection.execute(text("SELECT * FROM financeiro.meta_despesas LIMIT 5;"))
    for row in result:
        print(row)

(datetime.datetime(2024, 12, 1, 0, 0), 12, 0.0, 68976.0)
(datetime.datetime(2024, 11, 1, 0, 0), 11, 0.0, 68610.0)
(datetime.datetime(2024, 10, 1, 0, 0), 10, 0.0, 61101.0)
(datetime.datetime(2024, 9, 1, 0, 0), 9, 0.0, 60743.0)
(datetime.datetime(2024, 8, 1, 0, 0), 8, 0.0, 55831.888)