In [2]:
import numpy as np
import pandas as pd
from sqlalchemy import create_engine, text
from sqlalchemy import Table, Column, Integer, String, Float, Date, MetaData
import os
from dotenv import load_dotenv

In [3]:
# Carregar variáveis do arquivo .env
load_dotenv()

# Obter as credenciais do banco de dados do .env
db_host = os.getenv("DB_HOST")
db_port = os.getenv("DB_PORT")
db_name = os.getenv("DB_NAME")
db_user = os.getenv("DB_USER")
db_password = os.getenv("DB_PASSWORD")
excel_path = os.getenv("EXCEL_FILE_PATH")

## Odonto

In [3]:
# Carregar os dados da aba específica do arquivo Excel
df = pd.read_excel(excel_path, sheet_name='odonto') 

# Exibir o número de linhas e colunas
print('Número de linhas e colunas:')
print(df.shape)

print('\n-------------------------------------')

# Exibir os tipos de dados ajustados
print(df.dtypes)

print('\n-------------------------------------')

# Exibir as primeiras linhas dos dados
print('\nVisualização inicial dos dados:')
print(df.head())

Número de linhas e colunas:
(499, 10)

-------------------------------------
 Data contratação     object
Data                  object
 Produto              object
Estado                object
Nome                  object
Operadora             object
Origem                object
Status                object
Vendedor              object
 Valor               float64
dtype: object

-------------------------------------

Visualização inicial dos dados:
   Data contratação               Data  Produto          Estado  \
0               NaN  1 de dez. de 2023        -  Rio de Janeiro
1               NaN  1 de dez. de 2023        -           Bahia
2               NaN  1 de fev. de 2024        -           Bahia
3               NaN  1 de fev. de 2024        -           Bahia
4               NaN  1 de fev. de 2024        -       São Paulo

              Nome       Operadora     Origem       Status      Vendedor  \
0     Adam Andrade  Unidade Dental  RDStation  Desistência  Mário Santos
1  Jeffrey Rosario    Odonto Quali  RDStation  Desistência  Daniel Souza
2    Susan Johnson    Odonto Quali  RDStation  Desistência  Mário Santos
3  Marvin Williams    Odonto Quali  RDStation  Desistência  Daniel Souza
4     Leslie James  Unidade Dental  RDStation  Desistência  Mário Santos

    Valor
0     NaN
1     NaN
2     NaN
3     NaN
4     NaN

In [4]:
# Inserir dados no banco de dados PostgreSQL

# Definir a string de conexão com o banco de dados PostgreSQL
postgres_str = f'postgresql://{db_user}:{db_password}@{db_host}:{db_port}/{db_name}'
        
# Configuração da conexão com o banco de dados
engine = create_engine(postgres_str)

# Criação do schema dre_ecbahia
with engine.connect() as connection:
    connection.execute(text("CREATE SCHEMA IF NOT EXISTS seguro;"))
    
# from sqlalchemy import Table, Column, Integer, String, Float, MetaData
    
metadata = MetaData(schema='seguro')

# Definição da tabela odonto
odonto = Table('odonto', metadata,
                         Column('Data contratação', Date),
                         Column('Data', Date),
                         Column('Produto', String),
                         Column('Estado', String),
                         Column('Nome', String),
                         Column('Operadora', String),
                         Column('Origem', String),
                         Column('Status', String),
                         Column('Vendedor', String),
                         Column('Valor', Float),                         
                         )

# Criação da tabela no banco de dados
metadata.create_all(engine)

# Inserção dos dados na tabela f_razao_contabil
df.to_sql('odonto', engine, schema='seguro', if_exists='replace', index=False)

# Consulta para verificar os dados inseridos
with engine.connect() as connection:
    result = connection.execute(text("SELECT * FROM seguro.odonto LIMIT 5;"))
    for row in result:
        print(row)

(None, '1 de dez. de 2023', '-', 'Rio de Janeiro', 'Adam Andrade', 'Unidade Dental', 'RDStation', 'Desistência', 'Mário Santos', None)
(None, '1 de dez. de 2023', '-', 'Bahia', 'Jeffrey Rosario', 'Odonto Quali', 'RDStation', 'Desistência', 'Daniel Souza', None)
(None, '1 de fev. de 2024', '-', 'Bahia', 'Susan Johnson', 'Odonto Quali', 'RDStation', 'Desistência', 'Mário Santos', None)
(None, '1 de fev. de 2024', '-', 'Bahia', 'Marvin Williams', 'Odonto Quali', 'RDStation', 'Desistência', 'Daniel Souza', None)
(None, '1 de fev. de 2024', '-', 'São Paulo', 'Leslie James', 'Unidade Dental', 'RDStation', 'Desistência', 'Mário Santos', None)

## Meta Odonto

In [5]:
# Carregar os dados da aba específica do arquivo Excel
df = pd.read_excel(excel_path, sheet_name='meta_odonto') 

# Exibir o número de linhas e colunas
print('Número de linhas e colunas:')
print(df.shape)

print('\n-------------------------------------')

# Exibir os tipos de dados ajustados
print(df.dtypes)

print('\n-------------------------------------')

# Exibir as primeiras linhas dos dados
print('\nVisualização inicial dos dados:')
print(df.head())

Número de linhas e colunas:
(10, 2)

-------------------------------------
Mes     datetime64[ns]
Meta             int64
dtype: object

-------------------------------------

Visualização inicial dos dados:
         Mes  Meta
0 2024-10-01    20
1 2024-09-01    20
2 2024-08-01    20
3 2024-07-01    20
4 2024-06-01    20

In [9]:
# Inserir dados no banco de dados PostgreSQL

# Definir a string de conexão com o banco de dados PostgreSQL
postgres_str = f'postgresql://{db_user}:{db_password}@{db_host}:{db_port}/{db_name}'
        
# Configuração da conexão com o banco de dados
engine = create_engine(postgres_str)

# Criação do schema dre_ecbahia
with engine.connect() as connection:
    connection.execute(text("CREATE SCHEMA IF NOT EXISTS seguro;"))
    
# from sqlalchemy import Table, Column, Integer, String, Float, MetaData
    
metadata = MetaData(schema='seguro')

# Definição da tabela meta_odonto
meta_odonto = Table('meta_odonto', metadata,
                         Column('Mes', Date),
                         Column('Meta', Integer),                      
                         )

# Criação da tabela no banco de dados
metadata.create_all(engine)

# Inserção dos dados na tabela f_razao_contabil
df.to_sql('meta_odonto', engine, schema='seguro', if_exists='replace', index=False)

# Consulta para verificar os dados inseridos
with engine.connect() as connection:
    result = connection.execute(text("SELECT * FROM seguro.meta_odonto LIMIT 5;"))
    for row in result:
        print(row)

(datetime.datetime(2024, 10, 1, 0, 0), 5)
(datetime.datetime(2024, 9, 1, 0, 0), 5)
(datetime.datetime(2024, 8, 1, 0, 0), 5)
(datetime.datetime(2024, 7, 1, 0, 0), 5)
(datetime.datetime(2024, 6, 1, 0, 0), 5)

## Seguro Residencial

In [7]:
# Carregar os dados da aba específica do arquivo Excel
df = pd.read_excel(excel_path, sheet_name='seguro_residencial') 

# Exibir o número de linhas e colunas
print('Número de linhas e colunas:')
print(df.shape)

print('\n-------------------------------------')

# Exibir os tipos de dados ajustados
print(df.dtypes)

print('\n-------------------------------------')

# Exibir as primeiras linhas dos dados
print('\nVisualização inicial dos dados:')
print(df.head())

Número de linhas e colunas:
(195, 10)

-------------------------------------
 Data contratação     datetime64[ns]
 valor_contratação           float64
Data                  datetime64[ns]
Estado                        object
lead_nome                     object
lead_status                   object
operadora_nome                object
Origem                        object
valor_comissao               float64
Vendedor                      object
dtype: object

-------------------------------------

Visualização inicial dos dados:
   Data contratação   valor_contratação       Data          Estado  \
0               NaT                 NaN 2024-07-09  Rio de Janeiro
1               NaT                 NaN 2024-01-10           Ceará
2               NaT                 NaN 2024-04-11          Paraná
3               NaT                 NaN 2024-05-10           Ceará
4               NaT                 NaN 2024-04-11           Ceará

       lead_nome lead_status operadora_nome        Origem  valor_comissao  \
0   Adrian Moris  1º contato   Home Protect     RDStation             NaN
1    Bella Covel  4º contato   Home Protect      WhatsApp             NaN
2    Caio Vernet  4º contato   Home Protect    Google Ads             NaN
3  Daphne Reller  4º contato   Home Protect     RDStation             NaN
4     Eron Bates  4º contato   Home Protect  Facebook Ads             NaN

         Vendedor
0     João Carlos
1  Maria Joaquina
2  Maria Joaquina
3     João Carlos
4     João Carlos

In [8]:
# Inserir dados no banco de dados PostgreSQL

# Definir a string de conexão com o banco de dados PostgreSQL
postgres_str = f'postgresql://{db_user}:{db_password}@{db_host}:{db_port}/{db_name}'
        
# Configuração da conexão com o banco de dados
engine = create_engine(postgres_str)

# Criação do schema dre_ecbahia
with engine.connect() as connection:
    connection.execute(text("CREATE SCHEMA IF NOT EXISTS seguro;"))
    
# from sqlalchemy import Table, Column, Integer, String, Float, MetaData
    
metadata = MetaData(schema='seguro')

# Definição da tabela seguro residencial
seguro_residencial = Table('seguro_residencial', metadata,
                         Column('Data contratação', Date),
                         Column('valor_contratação', Float),
                         Column('Data', Date),
                         Column('Estado', String),
                         Column('lead_nome', String),
                         Column('lead_status', String),
                         Column('operadora_nome', String),
                         Column('Origem', String),
                         Column('valor_comissao', Float),
                         Column('Vendedor', String),                      
                         )

# Criação da tabela no banco de dados
metadata.create_all(engine)

# Inserção dos dados na tabela f_razao_contabil
df.to_sql('seguro_residencial', engine, schema='seguro', if_exists='replace', index=False)

# Consulta para verificar os dados inseridos
with engine.connect() as connection:
    result = connection.execute(text("SELECT * FROM seguro.seguro_residencial LIMIT 5;"))
    for row in result:
        print(row)

(None, None, datetime.datetime(2024, 7, 9, 0, 0), 'Rio de Janeiro', 'Adrian Moris', '1º contato', 'Home Protect', 'RDStation', None, 'João Carlos')
(None, None, datetime.datetime(2024, 1, 10, 0, 0), 'Ceará', 'Bella Covel', '4º contato', 'Home Protect', 'WhatsApp', None, 'Maria Joaquina')
(None, None, datetime.datetime(2024, 4, 11, 0, 0), 'Paraná', 'Caio Vernet', '4º contato', 'Home Protect', 'Google Ads', None, 'Maria Joaquina')
(None, None, datetime.datetime(2024, 5, 10, 0, 0), 'Ceará', 'Daphne Reller', '4º contato', 'Home Protect', 'RDStation', None, 'João Carlos')
(None, None, datetime.datetime(2024, 4, 11, 0, 0), 'Ceará', 'Eron Bates', '4º contato', 'Home Protect', 'Facebook Ads', None, 'João Carlos')

## Seguro Condominial

In [9]:
# Carregar os dados da aba específica do arquivo Excel
df = pd.read_excel(excel_path, sheet_name='seguro_condominial') 

# Exibir o número de linhas e colunas
print('Número de linhas e colunas:')
print(df.shape)

print('\n-------------------------------------')

# Exibir os tipos de dados ajustados
print(df.dtypes)

print('\n-------------------------------------')

# Exibir as primeiras linhas dos dados
print('\nVisualização inicial dos dados:')
print(df.head())

Número de linhas e colunas:
(520, 12)

-------------------------------------
Condominio                     object
Operadora                      object
Administradora                 object
Responsavel                    object
Status                         object
Data de Contato        datetime64[ns]
Data de Contratação    datetime64[ns]
Data de Vencimento     datetime64[ns]
Premio                        float64
Comissão Corretora            float64
Cashback Adm                  float64
Cashback Pago Adm             float64
dtype: object

-------------------------------------

Visualização inicial dos dados:
                 Condominio       Operadora                   Administradora  \
0      Edifício Vila Serena  NovaCare Saúde  Terceirização e Soluções Gerais
1  Condomínio Vila do Campo        SOS Vida  Terceirização e Soluções Gerais
2  Residencial Vila Toscana  NovaCare Saúde  Terceirização e Soluções Gerais
3  Residencial Vista do Mar  NovaCare Saúde                          Family2
4    Residencial Vale Verde  NovaCare Saúde  Terceirização e Soluções Gerais

                       Responsavel       Status Data de Contato  \
0  Terceirização e Soluções Gerais  Desistência      2023-10-25
1  Terceirização e Soluções Gerais  Desistência      2023-09-08
2  Terceirização e Soluções Gerais  Desistência      2023-08-07
3               Prospecção Própria  Desistência      2024-01-12
4  Terceirização e Soluções Gerais  Desistência      2023-12-02

  Data de Contratação Data de Vencimento  Premio  Comissão Corretora  \
0          2023-11-22         2024-11-22     0.0                 0.0
1          2023-09-10         2024-09-10     0.0                 0.0
2          2023-09-05         2024-09-05     0.0                 0.0
3          2024-01-17         2025-01-17     0.0                 0.0
4          2023-12-16         2024-12-16     0.0                 0.0

   Cashback Adm  Cashback Pago Adm
0           0.0                0.0
1           0.0                0.0
2           0.0                0.0
3           0.0                0.0
4           0.0                0.0

In [10]:
# Inserir dados no banco de dados PostgreSQL

# Definir a string de conexão com o banco de dados PostgreSQL
postgres_str = f'postgresql://{db_user}:{db_password}@{db_host}:{db_port}/{db_name}'
        
# Configuração da conexão com o banco de dados
engine = create_engine(postgres_str)

# Criação do schema dre_ecbahia
with engine.connect() as connection:
    connection.execute(text("CREATE SCHEMA IF NOT EXISTS seguro;"))
    
# from sqlalchemy import Table, Column, Integer, String, Float, MetaData
    
metadata = MetaData(schema='seguro')

# Definição da tabela seguro condominial
seguro_condominial = Table('seguro_condominial', metadata,
                         Column('Condominio', String),
                         Column('Operadora', String),
                         Column('Administradora', String),
                         Column('Responsavel', String),
                         Column('Status', String),
                         Column('Data de Contato', Date),
                         Column('Data de Contratação', Date),
                         Column('Data de Vencimento', Date),
                         Column('Premio', Float),
                         Column('Comissão Corretora', Float),
                         Column('Cashback Adm', Float),
                         Column('Cashback Pago Adm', Float),
                         )

# Criação da tabela no banco de dados
metadata.create_all(engine)

# Inserção dos dados na tabela f_razao_contabil
df.to_sql('seguro_condominial', engine, schema='seguro', if_exists='replace', index=False)

# Consulta para verificar os dados inseridos
with engine.connect() as connection:
    result = connection.execute(text("SELECT * FROM seguro.seguro_condominial LIMIT 5;"))
    for row in result:
        print(row)

('Edifício Vila Serena', 'NovaCare Saúde', 'Terceirização e Soluções Gerais', 'Terceirização e Soluções Gerais', 'Desistência', datetime.datetime(2023, 10, 25, 0, 0), datetime.datetime(2023, 11, 22, 0, 0), datetime.datetime(2024, 11, 22, 0, 0), 0.0, 0.0, 0.0, 0.0)
('Condomínio Vila do Campo', 'SOS Vida', 'Terceirização e Soluções Gerais', 'Terceirização e Soluções Gerais', 'Desistência', datetime.datetime(2023, 9, 8, 0, 0), datetime.datetime(2023, 9, 10, 0, 0), datetime.datetime(2024, 9, 10, 0, 0), 0.0, 0.0, 0.0, 0.0)
('Residencial Vila Toscana', 'NovaCare Saúde', 'Terceirização e Soluções Gerais', 'Terceirização e Soluções Gerais', 'Desistência', datetime.datetime(2023, 8, 7, 0, 0), datetime.datetime(2023, 9, 5, 0, 0), datetime.datetime(2024, 9, 5, 0, 0), 0.0, 0.0, 0.0, 0.0)
('Residencial Vista do Mar', 'NovaCare Saúde', 'Family2', 'Prospecção Própria', 'Desistência', datetime.datetime(2024, 1, 12, 0, 0), datetime.datetime(2024, 1, 17, 0, 0), datetime.datetime(2025, 1, 17, 0, 0), 0.0, 0.0, 0.0, 0.0)
('Residencial Vale Verde', 'NovaCare Saúde', 'Terceirização e Soluções Gerais', 'Terceirização e Soluções Gerais', 'Desistência', datetime.datetime(2023, 12, 2, 0, 0), datetime.datetime(2023, 12, 16, 0, 0), datetime.datetime(2024, 12, 16, 0, 0), 0.0, 0.0, 0.0, 0.0)

## Saúde

In [4]:
# Carregar os dados da aba específica do arquivo Excel
df = pd.read_excel(excel_path, sheet_name='saúde') 

# Exibir o número de linhas e colunas
print('Número de linhas e colunas:')
print(df.shape)

print('\n-------------------------------------')

# Exibir os tipos de dados ajustados
print(df.dtypes)

print('\n-------------------------------------')

# Exibir as primeiras linhas dos dados
print('\nVisualização inicial dos dados:')
print(df.head())

Número de linhas e colunas:
(468, 10)

-------------------------------------
 Data contratação     object
Data                  object
 Produto              object
Estado                object
Nome                  object
Operadora             object
Origem                object
Status                object
Vendedor              object
 Valor               float64
dtype: object

-------------------------------------

Visualização inicial dos dados:
   Data contratação                Data  Produto             Estado  \
0               NaN  16 de jul. de 2024        -              Bahia
1               NaN  11 de jul. de 2024        -  Rio Grande do Sul
2               NaN   3 de jul. de 2024        -              Bahia
3               NaN   3 de jul. de 2024        -              Bahia
4               NaN  28 de jun. de 2024        -             Paraná

            Nome           Operadora       Origem      Status     Vendedor  \
0   Adrian Moris  Operadora genérica     Orgânica  1º contato  Ester Souza
1    Bella Covel          Unimed CNU  Precontrato  1º contato  Ester Souza
2    Caio Vernet  Operadora genérica    RDStation  1º contato  Ester Souza
3  Daphne Reller  Operadora genérica    RDStation  1º contato  Ester Souza
4     Eron Bates                   -    RDStation  1º contato  Ester Souza

    Valor
0     NaN
1     NaN
2     NaN
3     NaN
4     NaN

In [5]:
# Inserir dados no banco de dados PostgreSQL

# Definir a string de conexão com o banco de dados PostgreSQL
postgres_str = f'postgresql://{db_user}:{db_password}@{db_host}:{db_port}/{db_name}'
        
# Configuração da conexão com o banco de dados
engine = create_engine(postgres_str)

# Criação do schema dre_ecbahia
with engine.connect() as connection:
    connection.execute(text("CREATE SCHEMA IF NOT EXISTS seguro;"))
    
# from sqlalchemy import Table, Column, Integer, String, Float, MetaData
    
metadata = MetaData(schema='seguro')

# Definição da tabela seguro condominial
saude = Table('saude', metadata,
                         Column('Data contratação', Date),
                         Column('Data', Date),
                         Column('Produto', String),
                         Column('Estado', String),
                         Column('Nome', String),
                         Column('Operadora', String),
                         Column('Origem', String),
                         Column('Status', String),
                         Column('Vendedor', String),
                         Column('Valor', Float),
                         )

# Criação da tabela no banco de dados
metadata.create_all(engine)

# Inserção dos dados na tabela f_razao_contabil
df.to_sql('saude', engine, schema='seguro', if_exists='replace', index=False)

# Consulta para verificar os dados inseridos
with engine.connect() as connection:
    result = connection.execute(text("SELECT * FROM seguro.saude LIMIT 5;"))
    for row in result:
        print(row)

(None, '16 de jul. de 2024', '-', 'Bahia', 'Adrian Moris', 'Operadora genérica', 'Orgânica', '1º contato', 'Ester Souza', None)
(None, '11 de jul. de 2024', '-', 'Rio Grande do Sul', 'Bella Covel', 'Unimed CNU', 'Precontrato', '1º contato', 'Ester Souza', None)
(None, '3 de jul. de 2024', '-', 'Bahia', 'Caio Vernet', 'Operadora genérica', 'RDStation', '1º contato', 'Ester Souza', None)
(None, '3 de jul. de 2024', '-', 'Bahia', 'Daphne Reller', 'Operadora genérica', 'RDStation', '1º contato', 'Ester Souza', None)
(None, '28 de jun. de 2024', '-', 'Paraná', 'Eron Bates', '-', 'RDStation', '1º contato', 'Ester Souza', None)

## Meta Saúde

In [6]:
# Carregar os dados da aba específica do arquivo Excel
df = pd.read_excel(excel_path, sheet_name='meta_saude') 

# Exibir o número de linhas e colunas
print('Número de linhas e colunas:')
print(df.shape)

print('\n-------------------------------------')

# Exibir os tipos de dados ajustados
print(df.dtypes)

print('\n-------------------------------------')

# Exibir as primeiras linhas dos dados
print('\nVisualização inicial dos dados:')
print(df.head())

Número de linhas e colunas:
(10, 2)

-------------------------------------
Mes     datetime64[ns]
Meta             int64
dtype: object

-------------------------------------

Visualização inicial dos dados:
         Mes  Meta
0 2024-10-01     5
1 2024-09-01     5
2 2024-08-01     5
3 2024-07-01     5
4 2024-06-01     5

In [10]:
# Inserir dados no banco de dados PostgreSQL

# Definir a string de conexão com o banco de dados PostgreSQL
postgres_str = f'postgresql://{db_user}:{db_password}@{db_host}:{db_port}/{db_name}'
        
# Configuração da conexão com o banco de dados
engine = create_engine(postgres_str)

# Criação do schema dre_ecbahia
with engine.connect() as connection:
    connection.execute(text("CREATE SCHEMA IF NOT EXISTS seguro;"))
    
# from sqlalchemy import Table, Column, Integer, String, Float, MetaData
    
metadata = MetaData(schema='seguro')

# Definição da tabela seguro condominial
meta_saude = Table('meta_saude', metadata,
                         Column('Mes', Date),
                         Column('Meta', Integer),
                         )

# Criação da tabela no banco de dados
metadata.create_all(engine)

# Inserção dos dados na tabela f_razao_contabil
df.to_sql('meta_saude', engine, schema='seguro', if_exists='replace', index=False)

# Consulta para verificar os dados inseridos
with engine.connect() as connection:
    result = connection.execute(text("SELECT * FROM seguro.meta_saude LIMIT 5;"))
    for row in result:
        print(row)

(datetime.datetime(2024, 10, 1, 0, 0), 5)
(datetime.datetime(2024, 9, 1, 0, 0), 5)
(datetime.datetime(2024, 8, 1, 0, 0), 5)
(datetime.datetime(2024, 7, 1, 0, 0), 5)
(datetime.datetime(2024, 6, 1, 0, 0), 5)